<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!--this pulls in css and js which are part of the assets pipeline-->
  <%= stylesheet_link_tag    "application", media: "all",
                             "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--cross site forgery prevention stuff-->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
    <body>
        <%= render 'layouts/header' %>
        <!--main content of the page-->
        <div class="container">
          <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
    </body>
</html>