<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!--this pulls in css and js which are part of the assets pipeline-->
  <%= stylesheet_link_tag    "application", media: "all",
                             "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--cross site forgery prevention stuff-->
  <%= csrf_meta_tags %>
</head>
<body>
<!--yield inserts the contents of each page into this layout-->
<%= yield %>

</body>
</html>